<div class="row">
    <div class="offset-3 col-md-6">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Read Block</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <div class="card-body">
                <p>
                    Klik tombol start untuk memulai perhitungan
                </p>
                <p id="total">
                    Total Data : 0
                </p>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button id="generate" type="button" class="btn btn-primary btn-block">Start</button>
            </div>
        </div>
        <!-- /.card -->
    </div>

</div>
<div class="row justify-content-center">
    <% for (let i=0; i < data.length; i++) { %>
        <div class="col-md-3">
            <div class="card" role="button">
                <img src="/images/<%= data[i].foto %>" class="card-img-top" width="50%" alt="<%= data[i].name %>">
                <div class="card-body text-center">
                    <div class="card-text">
                        <span class="d-block">
                            <%= data[i].name %>
                        </span>
                        <span id="<%= data[i].id %>" class="d-block text-success">0</span>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
</div>

<script src="/plugins/chart.js/Chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    $(document).ready(function () {
        $('#generate').on('click', function () {
            $("#generate").text("Loading...")
            $.ajax({
                url: '/admin/hasil',
                method: 'POST',
                success: function (response) {
                    Swal.fire(
                        'Success!',
                        'Data has been generated.',
                        'success'
                    );
              
                    $("#generate").text("Start")
                },
                error: function (xhr, status, error) {
                    Swal.fire(
                        'Failed!',
                        xhr.responseJSON.error || 'There was an error generating the data.',
                        'error'
                    );
                    $("#generate").text("Start")
                },

            });
        });

        const socket = io();

        socket.on('hitung_data', (data) => {
            $("#total").text(`Total Data : ${data.total_data}`)
        });

        socket.on('hitung_hasil', (data) => {
            data.results.forEach(item => {
                $(`#${item.id}`).text(item.vote);
            });
        });

        socket.on('connect', () => {
            console.log('Connected to server');
        });

        socket.on('disconnect', () => {
            console.log('Disconnected from server');
        });
    });
</script>